/* mainPage.css*/
html {
  background-image: url("images/8-BitTransSkunk.png");
  background-repeat: repeat;
  background-size: 8%;
}
#titleLogo {
	width: 570px;
	border-style: solid;
	border-color: BLACK;
	padding: 5px;
	background-color: white;
}
.titlePix {
	width: 570px;
}
.bigger {
	width: 240px;
	height: 170px;
	font-size: 38pt; /* Actually its DONT size not FONT size */
	font-family: "Georgia", serif;
	background-color: #E0E0E0;
	border-style: solid;
	border-width: 5px;
	border-radius: 40px;
	position: absolute;
	border-color: #149B00;
}
#piranhaButton {
	position: relative;
	left: 265px;
}
#topRow {
	position: absolute;
	left: 45px;
	top: 200px;
}
.smaller {
	width: 240px;
	height: 170px;
	font-size: 42pt;
	font-family: "Georgia", serif;
	background-color: #F8F8F8;
	border-style: solid;
	border-width: 5px;
}
#redColumn {
	position: absolute;
	top: 390px;
	left: 45px;
}
#blueColumn {
	position: absolute;
	top: 390px;
	left: 310px;
}
.redButtons {
	color: #BE1E2D;
	border-style: solid;
	border-width: 5px;
	border-color: #BE1E2D;
	border-radius: 40px;
}
.blueButtons {
	color: #1E2BBE;
	border-style: solid;
	border-width: 5px;
	border-color: #1E2BBE;
	border-radius: 40px;
}
#RED2 {
	position: absolute;
	top: 190px;
}
#RED3 {
	position: absolute;
	top: 380px;
}
#BLUE2 {
	position: absolute;
	top: 190px;
}
#BLUE3 {
	position: absolute;
	top: 380px;
}
