/* Adding Skunk Works Fonts */
@font-face {
font-family: "Lobster";
src: url("fonts/Lobster-Regular.ttf");
}
@font-face{
  font-family: "Titillium";
  src: url("fonts/Titillium-Regular.otf");
}

html {
  height: 99.6%;
  border-style: solid;
  border-width: regular;
  font-family: "Titillium";
  font-size: 2em;
}

#skunkBackground{
  height: 100%;
  background-image: url("images/8-BitTransSkunk.png");
}

.splashSheet {
  text-align: center;
}

.teleAutoSheet{

}




/* Common data input types styling */
.incrementButton{

}

.checkbox {
height: 40px;
width: 40px;
border: 2px;
border-color: SOLID WHITE;
}

.submitButtons {
position: absolute;
top: 80%;
right: 1%;
border-style: solid;
border-color: BLACK;
border-width: thick;
background-color: #EFEFEF;
font-size: 22pt;
font-weight: bold;
height: 110px;
width: 140px;
}

.backButtons {
position: absolute;
top: 80%;
right: 18%;
border-style: solid;
border-color: black;
border-width: thick;
background-color: #EFEFEF;
font-size: 26px;
font-weight: bold;
height: 110px;
width: 140px;
}





/* Splash Sheet individual ids */
#splashSheetHeader{

}

#matchNumber{

}

#scoutSelect{

}

#eventSelect{

}

#splashSubmit{

}




/* Auto Page ids */
.startPosition{
  transform: scale(2);
}

#autoSwitch{

}
#autoScale{

}
#crossedLine{

}
#noShow{

}
#autoDeadBot{

}
#teamNum{

}

/* Tele Page ids */
#teleSwitch{

}
#teleScale{

}
#teleExchange{

}
#AssistOthersClimb{

}
#teleDeadBot{

}
#climb{

}
#helpedClimb{

}

#teamNo {
position: absolute;
left: -5px;
top: -85px;
font-size: 60pt;
font-style: sans-serif;
border-style: solid;
border-color: BLACK;
border-width: thick;
background-color: #EFEFEF;
padding: 5px;
}
